:host {
  --basics-block-padding: 0.75rem;
  --basics-block-background-color: #fff;
  --basics-area-min-height: 70vh;
}

.basics__card {
  padding: var(--basics-card-padding, var(--basics-block-padding));
  background-color: var(
    --basics-card-background-color,
    var(--basics-block-background-color)
  );
}
